@import 'index.scss';
.newsletter {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;

    h1 {
        margin: 0px;
        font-size: 3rem;
        padding: 30px;
    }
}

.empty-space.border-bottom.descrip {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
}