@import 'index.scss';


@media (max-width: 1024px) {
    .services-list {
        grid-template-columns: 1fr 1fr!important;
        grid-template-rows: 1fr 1fr!important;
    }
    .newsletter {
        grid-template-columns: 1fr!important;
        grid-template-rows: 3fr 1fr 1fr!important;
        .btn{
            border-left:none!important;
        }
    }
    .prod-info .prod-info-header {
        grid-template-columns: 1fr!important;
        padding: 40px 0;
    }
    .prod-info .prod-info-header .description {
        height: auto!important;
        border:none!important;
    }
    
    .empty-space.border-left.border-bottom {
        display: none;
    }
    .hero.dark h1 {
        font-size: 6rem!important;
        line-height: 6rem!important;
    }

    div#\30, div#\32 {
        border-left: none!important;
    }
    button.btn.dark.hover-red {
        background: $green!important;
        border: none!important;
    }
    button.btn.dark.hover-green {
        background: $green2!important;
        border: none!important;
    }
}
@media (max-width: 768px) {
    div#\31, div#\33 {
        border-left: none!important;
    }
    .newsletter button.btn.light.hover-red {
        background: $red;
    }
    .prod-info .react-tabs {
        grid-template-columns: 1fr 2.5fr!important;
    }
    .slider_content {
        margin: 0 auto!important;
        max-width: 300px!important;
    }
    .footer {
        height: auto!important;
        .footer-social {
            height: 100%;
            display: block;
             .social-btn {
                width: 40px;
                border-bottom: 3px solid black;
                &.instagram{
                    border-bottom:none!important;
                }
            }
        }
    }
    .hearth-img {
        position: fixed;
    }
    .slider_content.hearth {
        display: none;
    }
    .hero.dark h1 {
        font-size: 4rem!important;
        line-height: 4rem!important;
    }
    .prod-info .react-tabs__tab-panel--selected {
        grid-template-columns: 1fr!important;
    }
    .btn.dark {
        color: black!important;
        background: white!important;
        border-bottom: 3px solid black!important;
    }
    .Blog {

        grid-template-columns: 1fr!important;

    }
    .footer-menu ul {
        display: grid !important;
        font-size: 0.8rem;
        line-height: 1.4rem;
    }
    button.btn.dark.black {
        width: 65%!important;
        font-size: 1.2rem!important;
    }
    .styleCard {
        display: grid;
        grid-template-rows: 2fr 1fr;
        align-items: baseline;
        border-left: none!important;
    }
    
}
@media (max-width: 480px) {
    .hero.dark h1 {
        font-size: 3rem!important;
        line-height: 3rem!important;
    }

    .services-list {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
    }

    .header .logo {
        font-size: 1.5rem!important;
    }
    .hero .hero-button .empty-space {
        display: none!important;
    }
    .hero button.btn.dark.black {
        width: 100% !important;
        background: greenyellow !important;
        border-color: black !important;
        border-right: none!important;
        border-left: none!important;
    }
    .hero-button.border-top.border-light {
        border-top: none!important;
    }
}
